<div class="name"><%= @product.name %></div>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next...</a>
<h1 class="price"><%= @product.price %></h1>
<p class="inventory"><%= @product.inventory %></p>
<p class="description"><%= @post.description %></p>
